body {
    background-image: url("Screenshot (23).png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
     }
.item {border: 2px solid rgb(219, 215, 215,0.33);
    border-radius: 25px;
    width: 25rem;
    height: 35rem;
    background-color:rgba(219, 215, 215, 0.33);
    text-align: center;
    float: right;
    left: 25px;
    background-repeat: no-repeat;
    background-size: cover;

     }

    input {border-radius: 30px;
       padding: 7px;
          
    }

     label {font-family: Lucida Handwriting,cursive;
       color:darkorange;
      
    }
    button {
    border-radius: 20px;
    padding: 10px;

    }